@import 'variable';

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    border: none;
    outline: none;
}

@mixin horizontal-nav-list($theme: 'transparent') {
    .nav-lists {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .nav-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .nav-item {
                display: flex;
                justify-content: center;
                align-items: center;

                @if($theme=='transparent') {
                    background-color: $white-color;
                }

                @else {
                    background-color: $primary-color;
                }

                height: 40px;
                width: 40px;
                border-radius: 50%;

                i {
                    transition: color .2s ease-in;

                    @if($theme=='transparent') {
                        color: $primary-color;
                    }

                    @else {
                        color: $white-color;
                    }
                }

                transition: background-color .2s ease-in;

                &:hover {
                    @if($theme=='transparent') {
                        background-color: $primary-color;
                    }

                    @else {
                        background-color: $accent-color;
                    }

                    i {
                        @if($theme=='transparent') {
                            color: $white-color;
                        }

                        @else {
                            color: $primary-color;
                        }
                    }
                }

            }

            .nav-item-secondary {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                height: 40px;
                width: 40px;
                border-radius: 50%;

                i {
                    transition: color .2s ease-in;
                    color: $white-color;
                }

                transition: background-color .2s ease-in;

                &:hover {
                    background-color: $white-color;

                    i {
                        color: $primary-color;
                    }
                }

            }
        }
    }
}

@mixin primary-btn($theme: 'primary') {
    background-color: $accent-color;
    height: 47px;
    width: 141px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    color: $primary-color;
    text-align: center;
    transition: background-color .1s ease-in, color .1s ease-in;

    @if($theme=='primary') {
        &:hover {
            background-color: $primary-color;
            color: $accent-color;
        }
    }

    @else {
        &:hover {
            background-color: $white-color;
            color: $primary-color;

        }
    }
}

#offcanvasMenu {
    background-color: $primary-color;

    .menu-close {
        height: 40px;
        width: 40px;
        background-color: $white-color;
        color: $primary-color;
        border-radius: 50%;
        transition: transform .2s ease-in;

        &:hover {
            transform: rotate(15deg);
        }


    }


    .offcanvas-body {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    @include horizontal-nav-list();

    .side-nav-list {
        width: 90%;

        .side-nav-item {

            display: flex;
            justify-content: space-between;
            align-items: center;


            a,
            i {
                transition: color .2s ease-in;
                font-size: 28px;
                font-weight: 700;
                text-decoration: none;
                color: $white-color;

            }


            &:hover {

                a,
                i {

                    color: $accent-color;
                }

            }
        }
    }
}

#navbar {
    transition: background .2s ease-in;
    transition: box-shadow .2s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 20;
    width: 100%;
    height: 73px;
    padding: 0px 40px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

    .nav-logo {
        img {
            height: 28px;
        }
    }

    @include horizontal-nav-list();

    &.white-nav {
        background: $white-color !important;
        @include horizontal-nav-list('white');
    }
}

#hero {
    position: relative;

    video {
        position: relative;
        height: 80vh;
        width: 100% !important;
        object-fit: cover;
    }

    .infos {

        bottom: 30px;
        right: 15%;
        z-index: 10;
        position: absolute;

        @media only screen and (max-width: 768px) {
            position: relative;
            right: auto;
            bottom: auto;
            bottom: 50px;
        }


        article {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: right;
            gap: 10px;
            height: 244px;
            width: 424px;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

            border-radius: 12px;

            background-color: $primary-color;

            h5 {
                color: $accent-color;
                font-size: 26px;
                font-weight: 700;
            }

            p {
                color: $white-color;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }

            a {
                background-color: $accent-color;
                height: 47px;
                width: 141px;
                padding: 10px 30px;
                font-weight: 500;
                font-size: 16px;
                border-radius: 6px;
                text-decoration: none;
                color: $primary-color;
                text-align: center;
                transition: background-color .1s ease-in, color .1s ease-in;

                &:hover {
                    background-color: $white-color;
                    color: $primary-color;
                }
            }

        }
    }
}

.section {
    margin: 20px auto;

    .section_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section_heading-title {
            font-size: 28px;
            font-weight: 700;
            color: $primary-color;
        }

        .section_heading-navigation {
            display: flex;
            gap: 5px;

            li {
                i {
                    font-size: 25px;
                    color: $primary-color;
                    transition: color .1s ease-in, transform .1s ease-in;
                }

                &:hover {
                    i {
                        color: $accent-color;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .section__body {
        margin: 30px 0px 80px 0px;
    }

    .section__action {
        text-align: center;

        a {
            @include primary-btn()
        }
    }
}

.news {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 379px;
    margin: 10px;

    figure {
        img {
            object-fit: cover;
            width: 100%;
            height: 214px;
            border-radius: 6px;
        }
    }

    a {
        text-decoration: none;

        h6 {
            font-size: 22px;
            line-height: 22px;
            font-weight: 700;
            color: $primary-color;
        }
    }

    p {
        line-height: 18px;
        font-size: 14px;
        font-weight: 400;
        color: $primary-color;
    }
}

.product {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 10px;
    height: 434px;
    padding: 0px;

    background-color: $secondary-color;


    figure {
        background-color: $white-color;

        img {
            width: 100%;
            height: 278px;
            object-fit: contain;
        }
    }

    .product_meta {
        padding: 5px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .product_meta-name {
            text-decoration: none;

            h6 {
                font-weight: 700;
                font-size: 22px;
                color: $primary-color;
                line-height: 22px;
            }

        }

        .product_meta-price {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $primary-color;
        }

        .product_meta-btn {

            padding: 18px 28px;
            border-radius: 6px;
            text-decoration: none;
            background-color: $primary-color;
            color: $accent-color;
            transition: background-color .1s ease-in, color .1s ease-in;

            &:hover {
                background-color: $accent-color;
                color: $primary-color;
            }
        }

    }
}

.partner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    height: 349px;
    border-radius: 12px;

    figure {
        margin: 0px;

        img {
            width: 100%;
            height: 188px;
        }
    }


    .partner_meta {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        gap: 10px;
        background-color: $primary-color;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        .partner_meta-name {
            text-decoration: none;

            h6 {
                font-weight: 700;
                color: $accent-color;
            }
        }

        .partner_meta-btn {
            text-decoration: none;
            border-radius: 6px;
            background-color: $secondary-color;
            color: $primary-color;
            font-weight: 600;
            font-size: 16px;
            width: 140px;
            height: 47px;
            padding: 12px;
            gap: 10px;
        }
    }
}

footer {
    padding: 50px 0px;
    background-color: $primary-color;

    .footer-main {
        border-bottom: 2px solid $white-color;

        .footer-logo {
            img {
                height: 78px;
            }
        }

        .footer-input {
            margin-top: 30px;

            .footer-input-group {
                height: 46px;
                flex-wrap: wrap;
                display: flex;
                gap: 10px;

                input {
                    border-radius: 6px;
                    font-weight: 400;
                    font-size: 15px;
                    height: 100%;
                    width: 70%;
                    padding: 0px 20px;

                }

                @media only screen and (max-width: 768px) {
                    input {
                        width: 100%;
                    }
                }

                button {
                    @include primary-btn('alt')
                }
            }

            .footer-input-label {
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                color: $white-color;
            }
        }

        .footer-icons {
            margin: 20px 0px;
            display: flex;
            gap: 8px;

            .footer_socials {
                li {

                    i {
                        font-size: 28px;
                    }
                }
            }

            ul {
                display: flex;
                gap: 8px
            }
        }

        .footer-text {
            margin-top: 20px;

            h5 {
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: $white-color;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    a {
                        text-decoration: none;
                        color: $white-color
                    }
                }
            }

            address {
                color: $white-color;

                * {
                    color: $white-color;

                }
            }
        }
    }

    .footer-copywright {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        * {
            color: $white-color;
        }
    }
}

.filter_menu {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .filter_menu-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .filter_button {
        width: 129px;
        height: 47px;
        padding: 18px, 28px;

        border-radius: 86px;
        background-color: $secondary-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        transition: background-color .1s ease-in, color .1s ease-in;

        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }

    }

    .filter_sort {
        height: 47px;
        width: 129px;
        background-color: white;
        border: 2px solid $primary-color;
        border-radius: 6px;
        transition: background-color .1s ease-in, color .1s ease-in;

        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }
}

.load_more {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    a {
        color: $primary-color;

        i {
            color: $primary-color;
        }
    }
}

.cover-video {
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    video {
        position: relative;
        border-radius: 20px;
        height: 70vh;
        width: 100% !important;
        object-fit: cover;
    }

    button {
        position: absolute;
        bottom: -25px;
        z-index: 10px;
        width: 150px;
        height: 50px;
        padding: 18px, 28px;
        border-radius: 86px;
        background-color: $accent-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        transition: background-color .1s ease-in, color .1s ease-in;

        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }

    }
}

.cover-name {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    color: $primary-color;
    margin-right: 20px;
    margin-top: 30px;
}

.massage {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

    h3 {
        color: $primary-color;
        font-weight: 600;
        font-size: 22px;
    }

    p {
        color: $primary-color;
        font-weight: 500;
        font-size: 18px;
    }
}

.contact-card {
    background-color: $primary-color;
    height: 401px;
    margin: 0px 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    figure {
        display: flex;
        justify-content: center;
    }

    * {
        text-align: center;
        color: $accent-color;
    }

    h6 {
        color: $secondary-color;
    }

    ul {

        margin-top: 20px;
        padding: 0px;
        list-style: none;

        li {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
        }
    }

}

.news_latter {
    background-color: $secondary-color;
    width: 100%;
    height: 306px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .news_label {
        color: $primary-color;
        font-weight: 700;
        font-size: 28px;
        padding: 10px;

        i {
            color: $primary-color;
            font-weight: 700;
            font-size: 28px;

        }
    }

    .news_input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        input {
            display: flex;
            justify-content: center;
            padding: 10pxs;
            width: 300px;
            height: 40px;
            padding: 18px;
            border: 2px solid color #072c35;
            border-radius: 6px;
            transition: background-color .1s ease-in, color .1s ease-in;

            &:hover {
                background-color: $white-color;
                color: $primary-color;
            }
        }

        button {
            background-color: $primary-color;
            color: #2AF2D1;
            width: 132px;
            height: 39px;
            padding: 18px, 28px;
            border-radius: 6px;
            transition: background-color .1s ease-in, color .1s ease-in;

            &:hover {
                background-color: $white-color;
                color: $primary-color;
            }
        }


    }
}

.accordion-item {
    gap: 10px !important;
    border: none !important;
}

.according-head {
    color: $primary-color;
    font-size: 28px;
    font-weight: 700;

}

.according-body {
    background-color: $secondary-color !important;
    width: 100%;
    height: 70px !important;
    border-radius: 12px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: $primary-color;
    font-weight: 700;
    font-size: 22px;
    border: none;

    i {
        background-color: $primary-color;
        color: #2AF2D1;
        border-radius: 50%;
        padding: 8px;
    }
}

.footer-map {
    background-color: $secondary-color;
    

    .map {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 55px;

        iframe {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 400px;
        }

        .map-text {
            h5 {
                color: $primary-color;
                font-weight: 700;
            }

            a {
                color: $primary-color;
                font-weight: 500;
            }

            address {
                color: $primary-color;
                font-weight: 500;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: $primary-color;
            }

        }
    }
}